.sobre-mi-inner{
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-areas: 
            "foto titulo"
            "foto texto";
    margin:2rem;

    .quien-soy-foto{
        grid-area: foto;

        img{
            max-width: 100%;
        }
    }

    .quien-soy-title{
        grid-area: titulo;
        font-family: $fontTitle;
        font-size: 4rem;
    }

    .quien-soy-text{
        grid-area: texto;
    }
    
}