.title{
    margin: 4rem;
    display: flex;
    justify-content: center;

    h3{
        font-size: 2rem;
        color: white;
        font-family: $fontText;
        span{
            background-color: $backgroundColor;
        }
    }
}

.container{
    display: flex;
    justify-content: center;

    .sobre-mi{
        h2{
            font-family: $fontText;
            font-size: 2rem;
            text-align: center;
            color: #fff;
        span{
            background-color: $backgroundColor;
        }
        }
    }

    .sobre-mi-inner{
        display: grid;
        grid-template-columns: .30fr 1fr;
        grid-template-areas: 
                "foto text";

        img{
            grid-area: foto;
            max-width: 100%;
        }

        p{
            font-family: $fontText2;
            margin: 2rem;
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            grid-area: text;
        }
    }
}

