.title{
    margin: 4rem;
    display: flex;
    justify-content: center;

    h3{
        font-size: 2rem;
        color: white;
        font-family: $fontText;
        span{
            background-color: $backgroundColor;
        }
    }
}

.container{
    display: flex;
    justify-content: center;

    .skill{
        h2{
            color: #fff;
            font-family: $fontText;
            font-size: 2rem;
            text-align: center;
        span{
                background-color: $backgroundColor;
            }
        }
    }

    .skill-inner{
        display: grid;
        grid-template-columns: .30fr 1fr;
        grid-template-areas: 
                "foto texto";

        img{
            padding: 1rem;
            grid-area: foto;
            max-width: 100%;
        }
        
        p{
            font-family: $fontText2;
            margin: 2rem;
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            grid: texto;
        }
    }

    .gallery {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        grid-gap: 10px;
      }
      .gallery .gallery-item .item-img {
        display: block;
        margin: auto;
        max-width: 150px;
        width: 100%;
        height: 100%;

}
}


