.container-info{
    margin: 2rem;
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-areas: 
            "foto titulo"
            "foto texto";
            column-gap: 2rem;

            img{
                grid-area: foto;
                margin: auto;
                max-width: 100%;
                object-fit: cover;
            }

            h2{
                font-family: $fontTitle;
                grid-area: titulo;
                font-size: 3rem;
            }

            p{
                grid-area: texto;
                font-size: 1.1rem;
            }
  }

  .gallery{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 10px;

        .gallery-item{

            .item-img{
                display: block;
                margin: auto;
                max-width: 150px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
}
