@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$fontTitle:'Noto Sans', sans-serif;
$fontText: 'Figtree', sans-serif;
$fontText2: 'Open Sans', sans-serif;

$backgroundColor: #212121;