@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Figtree', sans-serif;
}

.section{
    height: 100vh;
}

.titulo{
    display: flex;
    justify-content: center;
}

.containerProyectos{
    display: flex;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card:hover{
    transform: translateY(-15px);
}
.btn-primary
{
    background-color: #161616;
    border-color: #161616;
}

.btn-primary:hover{
    color: #161616;
    background-color: yellow;
}

@media screen and (max-width: 900px) {
    .containerProyectos{
        display: flex;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 630px) {
    .containerProyectos{
        display: flex;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
    }

    .card{
        margin: 20px;
    }
}